html {
    background-color: cornflowerblue;
}

.goBtn {
    justify-content: center;
    text-align: center;
}

button {
    padding: 20px 20px;
    width: 1400px;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1 {
    text-align: center;

}
